.container-fluid {

    padding: 0;

} 

.wrapper {

    background-color: aquamarine;
    height:100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-wrap: wrap;
    margin: 0;
    padding: 0;

}

.input-hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

h1 {

    font-size: 5rem;
}

h3 {
    font-weight: 100;
}

input {
    
    width: 350px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    margin-top: 40px;
}

input:focus-visible {
    
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    background-color: #f0f8ff;
}

.cardBoard {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    gap: 20px;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
