.container-fluid {
    background-color: rgb(245, 245, 245);
    padding: 0;
    min-height: 100vh;

} 

.wrapper {

    margin: 0;
    padding: 0;

}

.input-hero {
    padding-top: 2rem;
    margin-left: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items:flex-start;

}

h1 {

    font-size: 5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
    font-weight: 100;
}

input {

    min-width: 420px;
    height: 50px;
    border-radius: 10px;
    margin-top: 40px;
    padding-left: 1rem;
    border: 0;
}

input:focus-visible {
    
    border: 1 solid black;
}

.Todo-List {

    padding: 2rem;

}

.cardBoard {

    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: row;
    

    

}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
