/* reseteo */

p {

    margin: 0;
    padding: 0;

}

/* Cuerpo de la carta */
.card-container {

    max-width: 420px;
    height: auto;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    flex-grow: 4;
    align-items: stretch;
    

}

.card-container:hover {
   transform: scale(1.075);
   transition-duration: 0.5s;
   -webkit-box-shadow: 0px 8px 15px 1px rgba(0,0,0,0.025); 
    box-shadow: 0px 8px 15px 1px rgba(0,0,0,0.025);
    border: 1px solid black;
}

/* Contenido de la carta */

.content {

    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 25px;
    
}

.card-header {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-icon {
    color: grey;
}


.content > p {

    font-size: 1.4rem;
    font-weight: 500;
    padding: 2px;
    border-bottom: 0.5px solid grey;

}

p:focus-visible {

    outline: none;
    box-shadow: none;
}

/* area de texto */

.input-area {

    width: 100%;
    padding-top: 1rem;
}

.text-area {
    height: 150px;
    width: 100%;
    margin-top: 0;
    border-style: none;
    background-color: transparent;
    resize: none;
    opacity: 0.5;
}

textarea:focus-visible {
    outline: none;
    box-shadow: none;
}

.delete-icon {
    align-self: flex-end;
    color: rgb(255, 179, 179);
}

.editable {
    background-color: #f0f0f0;
    border-bottom: 0.5px solid grey;
  }


